@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated .animate__bounce{
  @apply duration-100
}

.menu-card{
  @apply py-3 px-5 rounded border border-black w-16 lg:min-w-40 xl:min-w-72 cursor-pointer transition-all hover:scale-105
}

.active-card{
  @apply bg-[#8A51FF] text-white border-none shadow-black-solid
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.typing {
  width: 18.3rem;
  animation: typing 2s steps(16), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Lora;
  font-size: 2em;
  line-height: 40px
}

.animate__animated {
  --animate-duration: 2s;
  --animate-delay: 2s;
}
